<div class="container">
    <div class="jumbotron">
        <h1>Products Table</h1>
    </div>

    <button class="btn btn-primary" ng-click="$ctrl.getProducts()">Get Data</button>
    <button class="btn btn-danger" ng-click="$ctrl.resetTableData()">Reset</button>

    <table class="table table-bordered products-table" ng-if="$ctrl.tableData">
        <thead>
            <tr>
                <th>ProductID</th>
                <th>ProductName</th>
                <th>SupplierID</th>
                <th>CategoryID</th>
                <th>QuantityPerUnit</th>
                <th>UnitPrice</th>
                <th>UnitsInStock</th>
                <th>UnitsOnOrder</th>
                <th>ReorderLevel</th>
                <th>Discontinued</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in $ctrl.tableData">
                <td>{{ ::product.ProductID }}</td>
                <td>{{ ::product.ProductName }}</td>
                <td>{{ ::product.SupplierID }}</td>
                <td>{{ ::product.CategoryID }}</td>
                <td>{{ ::product.QuantityPerUnit }}</td>
                <td>{{ ::product.UnitPrice }}</td>
                <td>{{ ::product.UnitsInStock }}</td>
                <td>{{ ::product.UnitsOnOrder }}</td>
                <td>{{ ::product.ReorderLevel }}</td>
                <td>{{ ::product.Discontinued }}</td>
            </tr>
        </tbody>
    </table>
</div>